{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}


{% block content %}
    <h1>Все статьи</h1>
    <h5>{{ time_now|date:'M d Y' }}</h5>
    <h4> {{ next_post|default_if_none:"Чуть позже сообщим о времени выхода новых статей!" }} </h4>
    <hr>

    {% if request.user.is_authenticated and is_not_author %}
        <p><a href="/upgrade/">Стать автором</a></p>
    {% endif %}

    {% if posts %}
        {% for post in posts %}
        <ul align="left">
            <li>
                <h5> {{ post.title|censor }}</h5> <i>({{ post.post_date|date:'d.m.Y' }})</i> </br>- {{ post.content|truncatechars:20 }}
            </li>
        </ul>
        {% endfor %}
    {% else %}
       <h2>Статей не найдено!</h2>
    {% endif %}

    {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}