{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block content %}
<h1>Поиск публикаций</h1>
<hr>
<form action="" method="get">
    {{ filterset.form.as_p }}
    <input type="submit" value="Найти" />
</form>
<hr>
    {% if posts %}
        {% for post in posts %}
        <ul align = "left">
            <li>
                <h5> {{ post.title|censor }}</h5> <i>({{ post.post_date|date:'d.m.Y' }})</i> </br>- {{ post.content|truncatechars:20 }}
            </li>

        </ul>
        {% endfor %}
        {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

    {% else %}
       <h4>Введите свой запрос в поиск!</h4>
    {% endif %}
{% endblock content %}